.app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  place-items: center;
}

.account {
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  gap: 1rem;
}
