.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;
  margin: 1rem 1rem;

  background-color: #bfb6bac2;
}

.expense-item_description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item h2 {
  /* color:#3a3a3a; */
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
}

.expense-item_price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #25262f;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .expense-item_description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item_description h2 {
    font-size: 1.25rem;
  }

  .expense-item_price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
