*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

.app {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 7rem;

  gap: 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.friends {
}

.addfriendform {
  display: grid;
  gap: 1rem;
}

.formfriend {
  display: flex;
  gap: 1rem;
}

button {
  border: none;
  background-color: var(--color-medium);
  color: #343a40;
  border-radius: 7px;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
  cursor: pointer;
}
