*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-height: 66vh;
  /* display: grid;
  grid-template-columns: 34rem 44rem; */

  /* margin-top: 7rem;
  align-items: center;
  gap: 3rem;

  padding-left: 5rem; */

  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
}

/* @media screen and (max-width: 728px) {
  .app {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */

button {
  border: none;
  background-color: var(--color-medium);
  color: #343a40;
  border-radius: 7px;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-dark);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.6rem;
}

.sidebar li {
  list-style: none;
}

.add-friend-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.2rem;
}

.form-split-bill {
  display: grid;
  grid-template-columns: 1fr 10rem;
  padding: 3.2rem 4rem;
  gap: 1.2rem;
}
